
.ReactTable .rt-tbody .rt-tr-group .rt-tr:hover {
    border-style:solid;
    border-color:khaki;
}

/*
.ReactTable .rt-tbody .rt-tr-group .rt-td .Hello {

	background-color: khaki;
}
*/

.ReactTable {
	font-size: 0.9em;
}
